beautifulsoup4==4.6.0
requests==2.14.2
SQLAlchemy==1.1.9
stem==1.5.4
-e git+https://github.com/DusanMadar/TorIpChanger.git@d7946181252a5aad7b31567ad6e48c1ec493f558#egg=toripchanger-master
wheel==0.24.0
